<header>
  <h1>Sample App</h1>
  <h2>Simple Pages</h2>
  <p>This style is useful for a simple "brochure website". You would only need the files in app/core</p>
  <nav>
    <ul>
      <li><a [routerLink]="['/foo']" href="">Foo</a></li>
      <li><a [routerLink]="['/bar']" href="">Bar</a></li>
      <li><a [routerLink]="['/baz']" href="">Baz</a></li>
    </ul>
  </nav>
  <h2>Modules as Pages</h2>
  <p>This style is useful for an app. Each feature/section has its own module. Each one of these modules goes in a subfolder in app/</p>
  <nav>
    <ul>
      <li><a [routerLink]="['/basic']" href="">Basic</a></li>
      <li><a [routerLink]="['/http']" href="">HTTP Examples</a></li>
      <li><a [routerLink]="['/nested']" href="">Nested</a></li>
      <li><a [routerLink]="['/lazy']" href="">Lazy</a></li>
      <li><a [routerLink]="['/secure']" href="">Secure</a></li>
      <li><a [routerLink]="['/login']" href="">Login / Logout</a></li>
    </ul>
  </nav>
</header>
